Repository anolilab/template-sync-action: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint -c ./.eslintrc.cjs --fix

.lintstagedrc:

{
    "**/*.{js,jsx,tsx,ts}": [
        "prettier --config=.prettierrc.cjs --write",
        "cross-env NO_LOGS=true eslint -c ./.eslintrc.cjs --fix"
    ],
    "*.{json,yml,yaml,less,css,scss,sass}": [
        "prettier --config=.prettierrc.cjs --write"
    ],
    "*.{md,mdx}": [
        "prettier --config=.prettierrc.cjs --write",
        "cross-env NO_LOGS=true eslint -c ./.eslintrc.cjs --fix"
    ],
    "{packages,support}/**/*.{js,jsx,tsx,ts}": [
        "prettier --config=.prettierrc.cjs --write",
        "cross-env NO_LOGS=true eslint -c ./.eslintrc.cjs --fix"
    ]
}

chore(release): 1.0.0-alpha.10 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --config=.prettierrc.cjs --write, cross-env NO_LOGS=true eslint -c ./.eslintrc.cjs --fix

Notes added by 'git notes add'
  688cfe58764ddb8f8f75c2fa37db7b6819e300d6
Due: none

chore(deps): update devdependencies (non-major)
  package.json
  yarn.lock
Due: prettier --config=.prettierrc.cjs --write

chore(deps): update dependency eslint-plugin-jest to v25
  package.json
  yarn.lock
Due: prettier --config=.prettierrc.cjs --write

chore(deps): update codecov/codecov-action action to v2
  .github/workflows/test.yml
Due: prettier --config=.prettierrc.cjs --write

chore(deps): update node.js to v12.22.12
  .nvmrc
Due: none

ci: add lock-issues workflow to lock inactive closed issues and PRs
  .github/workflows/lock-issues.yaml
Due: prettier --config=.prettierrc.cjs --write

chore(deps): modernize dev toolchain and pin vulnerable transitives
  package.json
  yarn.lock
Due: prettier --config=.prettierrc.cjs --write

chore: consolidate renovate dependency updates
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --config=.prettierrc.cjs --write

chore: remove renovate configuration from archived repo
  .github/renovate.json5
Due: none
